<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>

    <script src="/static/chart1.js" defer></script>
    <script src="/static/chart6.js" defer></script>
    <script src="/static/chart3.js" defer></script>
    <script src="/static/chart4.js" defer></script>
    <script src="/static/chart5.js" defer></script>

    <link rel="stylesheet" href="/static/style.css">


    <title>Dashboard</title>
    
</head>
<body>
    <h1>Addidas Stock Market Dashboard</h1>
    
    
    <div id="piediv"></div>
    <div id="chart-title">All Retailers of Addidas</div>
    <div id="profitdiv"></div>
    <div id="chartdiv"></div>
    <div id="chart-title-2">Total Sales in Each State</div>
    <div id="newdiv"></div>
    <div id="scatterdiv"></div>
    
    
    
    
    
    
    
    




   

</body>

</html>